<!-- 상단바 -->
<header class="topbar" role="banner">
    
    <div class="topbar__brand" aria-label="브랜드">
        <h2 class="brand__logo"><img src="./assets/images/dash/logo.svg" alt="" style="height: 30px;"></h2>
    </div>

    <div class="topbar__actions">
        <button class="icon-notice" onclick="openModal('alertModal')" aria-label="알림">
            <span>1</span>
        </button>
        <div class="avatar">
            <span class="avatar__circle" aria-hidden="true"></span>
            <span class="avatar__label">관리자님</span>
        </div>
        <label class="burger-btn" for="nav-toggle" aria-label="메뉴 열기/닫기">
            <span class="burger"></span>
        </label>
    </div>
</header>

<!-- 좌측 사이드바 -->
<aside class="sidenav" aria-label="주 메뉴">
    <div class="sidenav__logo">
        <a href=""><img src="./assets/images/dash/white-logo.svg" alt=""></a>
    </div>

    <nav class="sidenav__nav" data-simplebar>
        <details class="nav-sec">
            <summary class="sec01">
                <span><i class="icon"></i>단말관리</span>
            </summary>
            <details class="nav-sub">
                <summary>대시보드</summary>
                <ul class="nav-list">
                    <li><a href="#">대시보드</a></li>
            </details>
        </details>
        <details class="nav-sec">
            <summary class="sec02">
                <span><i class="icon"></i>콘텐츠관리</span>
            </summary>
            <details class="nav-sub">
                <summary>앱 관리</summary>
                <ul class="nav-list">
                    <li><a href="#">앱 관리</a></li>
                    <li><a href="#">배포 관리</a></li>
                </ul>
            </details>
        </details>

        <details class="nav-sec" open>
            <summary class="sec03">
                <span><i class="icon"></i>앱 관리</span>
            </summary>

            <details class="nav-sub" open>
                <summary>단말관리</summary>
                <ul class="nav-list">
                    <li class="is-active"><a href="#">운영 대시보드</a></li>
                    <li><a href="#">단말 등록</a></li>
                    <li><a href="#">그룹 관리</a></li>
                    <li><a href="#">단말 상태 현황</a></li>
                    <li><a href="#">원격 제어</a></li>
                </ul>
            </details>
        </details>

        <details class="nav-sec">
            <summary class="sec04">
                <span><i class="icon"></i>운영관리</span>
            </summary>
            <details class="nav-sub">
                <summary>컨텐츠관리</summary>
                <ul class="nav-list">
                    <li><a href="#">텍스트 설정</a></li>
                    <li><a href="#">텍스트 관리</a></li>
                </ul>
            </details>
        </details>

        <details class="nav-sec">
            <summary class="sec05">
                <span><i class="icon"></i>자원관리</span>
            </summary>
            <details class="nav-sub">
                <summary>장비분석</summary>
                <ul class="nav-list">
                    <li><a href="#">분석 현황</a></li>
                    <li><a href="#">교체주기 분석</a></li>
                    <li><a href="#">기기 유형 관리</a></li>
                    <li><a href="#">배터리 관리</a></li>
                </ul>
            </details>
        </details>
        
        <details class="nav-sec">
            <summary class="sec06">
                <span><i class="icon"></i>장비 분석</span>
            </summary>
            <details class="nav-sub">
                <summary>운영관리</summary>
                <ul class="nav-list">
                    <li><a href="#">운영관리</a></li>
                </ul>
            </details>
        </details>

        <details class="nav-sec">
            <summary class="sec07">
                <span><i class="icon"></i>시스템관리</span>
            </summary>
            <details class="nav-sub">
                <summary>시스템관리</summary>
                <ul class="nav-list">
                    <li><a href="#">사용자 관리</a></li>
                    <li><a href="#">그룹 관리</a></li>
                    <li><a href="#">권한 관리</a></li>
                    <li><a href="#">작업 이력</a></li>
                    <li><a href="#">공통 코드 관리</a></li>
                </ul>
            </details>
        </details>
        
    </nav>
    <div class="nav-foot">
        <dl class="call">
            <dt>고객센터 전화번호</dt>
            <dd>20)1234-1234</dd>
        </dl>
        <dl class="mail">
            <dt>대표 이메일</dt>
            <dd>all4land@all4land.com</dd>
        </dl>
    </div>
</aside>